*::after,
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: white;
}
input{
  color:black;
}
.invalid{
  display: none;
}

#success,#warning{
  display: none;
}